html { 
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
}

/* Hero Section */

#hero-Section {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5) 50%, transparent 70%, transparent 100%), url("../img/photo-hero1.avif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

.text-hero { 
  font-size: 25px;
}

/* Mis trabajos */

#mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */

#contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}
